.container {
    position: absolute;
    min-height: 100px;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
}

.footerParagraph {
}

.penguinDown img {
    height: 300px;
    transform: translateY(180px);
    transition: transform 0.7s ease-out;
}

.penguinUp img {
    height: 300px;
    transform: translateY(15px);
    transition: transform 0.7s ease-out;
}